<div id="<%= dom_id task %>">
  <div>
    <strong>Title:</strong>
    <%= task.title %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= task.status %>
  </div>
  <p>
  <%= link_to "Show this task", task %>
  </p>

</div>
