<main>
  <p style="color: green"><%= notice %></p>


  <h1 class="centre">Tasks</h1>

  <div id="create_task_form">
    <%= render "form", task: Task.new %>
  </div>

  <div id="tasks">
    <% @tasks.each do |task| %>
      <%= render task %>
    <% end %>
  </div>
</main>
