main{
    flex: 1;
    margin-left: 350px;
    margin-right: 350px;
}

.centre{
    text-align: center
}

#title_input{
    border-radius: 50px;
    width: 100%;
    padding: 8px;
    font-size: 15px;
    margin-bottom: 25px;
}

.links-and-buttons{
    margin-bottom: 20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.success-flash-message{
   color: green;
}

